{% extends 'site/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "common/css/landing-page.css" %}">
{% endblock %}
{% block site_title %}
    Welcome to Petstagram!
{% endblock %}
{% block site_content %}
    <div class="box">
        <div class="welcome">
            <div class="landing-img">
                <img class="img-landing-page" src="{% static "common/img/landing-img.png" %}" alt="landing page image">
            </div>
            <div class="content">
                <h1>Welcome to Petstagram</h1>
                <h2>Share your pets photo.</h2>
            </div>
        </div>
        <hr style="width: 80%; margin: 40px auto">
        <div class="to-account">
            <div class="login">
                <p>Already have an account?</p>

                <button class="button">Log In</button>

            </div>
            <div class="sing-up">
                <p>Do not have an account?</p>

                <button class="button">Sing Up</button>

            </div>
        </div>
    </div>
{% endblock %}
